[2013-06-09 12:50] earandnow opened #1 "Syntax error"
each time I run this script on my debian wheezy I get the following error
/etc/init.d/ftp-sync: 74: /etc/init.d/ftp-sync: Syntax error: "(" unexpected

I have no idea what i could have done wrong...

[2013-06-12 11:12] #1 closed, assigned to crazy-max

[2013-06-16 08:39] earandnow opened #2 "error with awk"
Thanks for your reply !

Now i don't have the previous syntax error and the script can connect to the distant ftp server without any problem.

It can also get the list of files to download but each time it fails and i have these erros :

Still running it on a debian 7 server...

[2013-09-24 14:52] sylk4 opened #3 "Can't save downloaded files"
Hi,
this is a cool script. Thanks for that. The issue I get is:

"Start download to /home/raton/Dokumente/daily_station_data/bash_completion_tmux.sh... Please wait..."
- wget --progress=dot:mega --ftp-user=XXXXXX --ftp-password=XXXXXX -O /home/raton/Dokumente/daily_station_data/bash_completion_tmux.sh ftp://ftp.XXXXX.com:21/suntrace/daily_station_data/bash_completion_tmux.sh
- ftpsyncProgressFilte

[2013-09-24 19:34] #2 closed, assigned to crazy-max

[2013-09-27 14:17] #3 closed, assigned to crazy-max

[2014-02-07 12:02] gordonlhw opened #4 "Syntax error"
Hi,
  I encountered several syntax error with my Synology NAS... The OS version is DSM 5 beta

ftp-sync: line 51: syntax error: unexpected "("

After removed "function " from function name, it is working, but encounter another error, it is:

ftp-sync: line 176: syntax error: unexpected redirection

ftp-sync: line 294: syntax error: bad substitution

Thank you.

[2014-03-21 22:02] lefoimpeur opened #5 "Création de dossiers supplémentaires"
Bonsoir,

Comme demander voici le ticket ;)

Ma version OS : BusyBox v1.16.1 - Noyau 2.6.32.12

Mon problème : pour chaque création de dossier lors des synchronisations, ça ajoute la destination que l'on passe en paramètre.
## Extrait de log sachant que ma destination est /volume1/seedbox :

Process file : 9.Mois.Ferme.2013.FRENCH.720p.BluRay.x264-LOSTlost-9moisferme.720p.jpg
Hash: 685a3da54bc5eea

[2014-04-17 08:46] #4 closed, assigned to crazy-max

[2014-05-22 20:30] #5 closed, assigned to crazy-max

[2014-08-09 15:08] crazy-max opened #6 "Bug trailing slash"
[code]

[2014-08-09 15:09] #6 closed, assigned to crazy-max

[2014-10-11 23:52] ibuilder opened #7 "Synology Package"
Is there a synology package for this somewhere?

Thanks

Ref: http://forum.synology.com/wiki/index.php/Synology_package_files

[2014-11-19 19:55] crazy-max opened #8 "Use SQLite for MD5 hash"
Use a SQLite database for MD5 storage.

[2015-02-20 13:14] gnrp2 opened #9 "Remove local files that no longer exist on the source server"
It would be a nice feature to remove the local files that no longer exist on the source server.  The actual implementation does not remove these files and the local copy of the source server grows indefinitely..  This removal feature could be turned on/off by a property in the config file.

[2015-02-21 10:01] crazy-max commented on #9
Yes good suggestion!

[2015-03-18 21:14] crazy-max commented on #8
Will be in the next version ;)

[2015-03-18 21:14] crazy-max commented on #9
Work on it

[2015-03-19 22:29] #8 closed

[2015-03-20 18:02] crazy-max opened #10 "Bug download with sqlite3"

[2015-03-20 18:06] #10 closed

[2015-03-21 13:47] crazy-max opened #11 "Bug checking MD5 (sqlite3 and text)"

[2015-03-21 13:47] #11 closed

[2015-06-03 19:38] AliGouta opened #12 "Checking file download integrity"
Thank you for your post, I think this may bring an answer to my question: I am trying to implement this routine:

1-Copy files from FTP server to my local machine.
2-Check if the downloaded files are fine (i.e. md5checksum).
3-If the download was fine then delete the downloaded files from the FTP server.

And I shoud have an independant file that contains the association between the file located a

[2015-06-03 19:50] crazy-max commented on #12
First of all thanks for your interest!

No my script does not make a full md5sum. Why ? Because make an *md5sum is the same as download the file*.

What i can implement for your purpose :
- You can for example generate a md5sum for your file on your ftp server and ican check a .md5 file available for the remote file on the server.
- Or i can add an implementation to connect to the server via SSH a

[2015-06-16 06:00] bugeaud opened #13 "Multiple errors trying to run on basic"
Trying to run v2.03 on Transcend WiFi SD Linux fail with the following errors :

# bash -x /etc/init.d/ftp-sync .
+
: not found/ftp-sync: line 10:
+
: not found/ftp-sync: line 44:
+ CONFIG_FILE=/etc/ftp-sync/ftp-sync.conf
+
: not found/ftp-sync: line 46:
+
: not found/ftp-sync: line 48:
+
: not found/ftp-sync: line 50:
/etc/init.d/ftp-sync: line 51: syntax error: unexpected "("

[2015-11-02 18:10] crazy-max commented on #13
Will be hard to reproduce your problem on this kind of linux based distribution :/
Can you provide more information about this distrib ?

[2015-12-27 22:16] yaciben commented on #9
Please just make the new behaviour optional because some use cases (mine ;-) ) just need that removed files from the source server have no effect on the backing server. This way, the source server can be used as a kind of file buffer where users can push their files and remove them once synced. Once synced, the only way to remove the files from the NAS would be by deleting them from the NAS. Usefu

[2015-12-27 22:18] yaciben commented on #7
Absolutely agreeing!

[2016-02-05 19:17] r000d opened #14 "Continue downloads"
First of all, thanks for the script!
I love the idea if storing md5 of downloaded files.
What about continuable downloads in case of large files/slow connection?
I tried the option "-C -" for curl (wget has a similar option) and it seems to work fine after restarting the script.
Is there a reason you didn't include this option?

[2016-02-13 21:46] jacobkossman opened #15 "SFTP option"
I don't think curl has a built in sftp option right? I think that's the only thing missing from this script! Awesome job but I won't use it until I can do encrypted / secure transfers. Could you add this option? Thanks!

[2016-02-13 22:56] crazy-max commented on #15
Hi,

Yes it's possible to use curl with sftp but this requires libssh2 and libssh2-devel packages.
Good suggestion btw and thanks for your feedback.

[2016-02-13 22:57] crazy-max commented on #14
Hi,

Yes indeed thanks for contrib!

[2016-02-13 22:58] #13 closed

[2016-02-26 17:20] bentux opened #16 "One time"
Hello
It is possible that a file could be download juste one time? I want to be able to delete the destination file without the script download again. Or it is possible to delete the source when the file is download?

Regards

[2016-02-27 12:29] crazy-max commented on #16
Hi,

Actually the file is already downloaded only one time with the script by saving his hash.

[2016-02-28 13:06] bentux commented on #16
So maybe I have a trouble with the md5 file.
In fact I havn't any md5 file on /etc/ftp-sync/
[code]

If the the file is already in the dir It show that
[code]

But if I delete the file
[code]

The file will be download again.

[2016-03-11 19:26] crazy-max commented on #16
Can you post your ``ftp-sync.conf`` ?
What is your operating system ?

[2016-03-13 10:17] bentux commented on #16
[code]

I use DSM 6 RC today

[2016-03-13 19:28] crazy-max commented on #16
Can you check the user who launch ftp-sync and permissions rights in /etc/ftp-sync/ ?

Maybe you have to override owner :
[code]

[2016-03-14 12:36] bentux commented on #16
It's launching by root on crontab in DSM
I do a
`chmod -R root:root /etc/ftp-sync/`
But nothing change
On DSM we haven't init.d dir is it a problem?

[2016-03-14 12:43] crazy-max commented on #16
Have you check the synology section in Readme.md ?
Maybe there is an issue with dsm 6, i have only check dsm 5.2.
I'll keep you in touch.

[2016-03-14 12:55] bentux commented on #16
Yes I do, twice :)
Thank's for your job

[2016-03-18 18:46] crazy-max commented on #15
FTP SSL / TLS will be added for curl and wget in the next release!

[2016-03-18 18:47] crazy-max commented on #14
Will be added in the next release

[2016-03-20 09:56] crazy-max commented on #16
I have installed DSM_DS3615xs_7135 on a VirtualBox (via XPEnoboot_DS3615xs_5.2-5592.2) and i have found the problem.

[2016-03-20 13:05] bentux commented on #16
Vert good news :)

[2016-03-21 14:58] crazy-max commented on #16
Solved in release 3.0.
Please note that you have to edit the config file `ftp-sync.conf` if you upgrade from a previous release!

[2016-03-21 14:58] #16 closed

[2016-03-21 15:00] crazy-max commented on #15
Solved in release 3.0. FTPS is only available for curl.
Please note that you have to edit the config file `ftp-sync.conf` if you upgrade from a previous release!

[2016-03-21 15:00] #15 closed

[2016-03-21 15:00] crazy-max commented on #14
Solved in release 3.0.
Please note that you have to edit the config file `ftp-sync.conf` if you upgrade from a previous release!

[2016-03-21 15:00] #14 closed

[2016-03-22 12:22] bentux commented on #16
You're a boss men. I just install the 3.0 and it's ok.
Many thanks

[2016-03-22 12:26] crazy-max commented on #16
Nice :)

[2016-03-27 17:36] crazy-max opened #17 "Sed not escaping & char"

[2016-03-27 17:36] crazy-max opened #18 "Add multiple ftp sources paths"

[2016-03-27 18:05] crazy-max commented on #17
Solved in release 3.1.

[2016-03-27 18:05] #17 closed

[2016-03-27 18:05] crazy-max commented on #18
Solved in release 3.1.

[2016-03-27 18:05] #18 closed

[2016-04-22 18:35] georgebohnisch opened #19 "Need to run as root/sudo"
When running as the local user, the script fails to create /var/run/ftp-sync.pid and the log files associated with the sync.

I'm required to run the script as a sudo user.

Any workarounds?

[2016-04-23 09:59] crazy-max commented on #19
Indeed there is an issue. I have to add a `whoami` directive to check the current user.
For the moment you can edit the `ftp-sync.conf` file and change `PID_FILE="/var/run/ftp-sync.pid"` to `PID_FILE="/var/run/ftp-sync/ftp-sync.pid"`

Then enter the following commands :
[code]

[2016-04-23 10:00] crazy-max opened #20 "Add wiki documentation"

[2016-06-19 18:23] crazy-max commented on #20
[Wiki](https://github.com/crazy-max/ftp-sync/wiki) now available :)

[2016-06-19 18:23] #20 closed

[2016-06-20 01:09] crazy-max commented on #19
I have added messages to check permission issue in 3.2 release.
But i have to make an installer to allow non root users to use the script.

[2016-06-20 01:09] #19 closed

[2016-06-20 01:09] crazy-max opened #21 "Make an installer"

[2016-07-09 21:41] MartinGantenbein opened #22 "Allow multiple instances"
Would be nice to be able to have configurations for more than one FTP host or more than one FTP user on the same host. Maybe simply add a parameter to specify the conf file, defaults to ftp-sync.conf

[2016-07-10 00:47] crazy-max commented on #22
I can implement this feature with a conf.d folder for example containing multiple config files

[2016-09-14 13:53] bentux commented on #7
Hi,
Any news about a Synology package?

[2016-12-29 19:54] bwibwi13 opened #26 "Add ability to sync upload to FTP"
I am currently using ftp-sync to backup the content of one FTP server to a local folder.
It would be great if we could use it to backup a local folder to a remote FTP server.

I have not yet digged deeper into the script, but I am hoping that replacing wget by wput would allow to do that easily.

What do you think?

[2016-12-31 03:53] crazy-max commented on #26
This improvement requires lot of refactoring and for the moment i don't have time for this.
But your are welcome to open a PR if you want to work on it ;)

[2017-01-03 14:42] bwibwi13 commented on #26
OK. I will take a look at what I can propose.
But I will probably have some questions in order to make the right decisions.

First question, how would you see this being configured?
We could use the DL_METHOD parameter and set it to "wput", for example?
Or would you prefer to use a totally new parameter?

[2017-01-19 08:27] bentux opened #27 "How to exclude .part"
Hi Crazy-max,

How can I exclude tha .part files?

Thanks for all

[2017-01-20 21:11] crazy-max commented on #27
Hi, for the moment there is no exclude filter.
Will be implemented on the next release

[2017-01-21 08:41] bentux commented on #27
Thanks for the reply

[2017-03-13 12:15] bentux commented on #27
Hi Crazy-max,
Any news about this?

[2017-03-13 16:40] crazy-max commented on #27
Hi @bentux, sorry for the late i'm currently working on an other project.
I think i can solve your issue by the end of the month.

[2017-03-13 20:02] crazy-max commented on #22
For this improvement a refactoring have been made and now you will have to pass the config file as argument instead of the destination folder.

Example : `/etc/init.d/ftp-sync seedbox.conf`
Each config file has to be located in the folder `/opt/ftp-sync/conf`

[2017-03-13 20:07] crazy-max commented on #26
Yep that's sounds good, i'm working on the [4.0 milestone](/crazy-max/ftp-sync/milestone/1) for now so if you have time i can include this improvement.

[2017-03-13 20:08] crazy-max commented on #12
@AliGouta any feedback about my purposes ?

[2017-03-13 21:01] bentux commented on #27
Many thanks :)
What's about your other project? Maybe it could be intresting for us. ;)

[2017-03-13 23:08] crazy-max commented on #27
I'm currently working on two projects, there is neard, a portable wamp software stack (http://neard.io) ans Geass, a multi-user front-end client for rTorrent with many features (https://github.com/crazy-max/geass)

[2017-03-13 23:21] crazy-max commented on #27
Some screenshots for Geass: https://plus.google.com/collection/0Datx

[2017-03-14 17:28] #22 closed

[2017-03-15 12:35] crazy-max opened #28 "Rename the project ftpgrab !"
As this project is a one way sync it has to be renamed

[2017-03-15 16:11] #28 closed

[2017-03-16 20:23] bentux commented on #27
Intresting projects ;)
So it is possible to name files *.part during the transfert with ftp-sync?

[2017-04-24 14:34] crazy-max opened #29 "Use type instead of which"

[2017-04-25 20:17] crazy-max opened #30 "Add tests"

[2017-04-25 23:16] #29 closed

[2017-04-25 23:36] #30 closed

[2017-09-02 17:02] #12 closed

[2017-10-11 00:13] mbc0 opened #31 "wget error 4"
Sorry of this is the wrong place to ask but I cannot find anywhere else!

I have just installed ftpgrab but cannot get it to work?

If I try a manual wget command to download a file it works fine but I cannot get ftpgrab to work due to a wget error 4, can someone please look over my log to see if there is anything obviously wrong?

I have *** out my username and password purposely

Many Thanks!

F

[2017-10-12 00:14] crazy-max commented on #31
Hi,

Can you post your ftpgrab config plz (without your credentials ofc) ?

[2017-10-29 17:57] mickael-bertrand opened #32 "Files downloaded again (with hash already in database)"
Hi !

For several days, some files that have already been downloaded are downloaded again (with the same hash). I noticed that on small files (sfv, nfo), the problem doesn't happen.
If you have any idea what the cause of the problem is, I would be grateful:)
I dont understand, because ftpgrab work fine since few weeks and since few day it doesnt work properly :s
I try to upgrade from 4.1 to 4.2, i

[2017-10-29 18:03] #31 closed

[2017-10-29 19:29] crazy-max commented on #32
Hi,

Ok so the src filename is `_1080/[ ******** ] .2017.MULTi.1080p.BluRay.x264-LOST.mkv` with hash `aa5c5b6f229f96719be96073bf11ad850b0a4ed9`.

Can you check on [this website](http://www.sha1-online.com/) if the hash is correct ?
If not, can you paste the real filename plz ?

[2017-10-29 20:22] mickael-bertrand commented on #32
HI Crazy-max,

sha1 for srcfileshort is the same hash   aa5c5b6f229f96719be96073bf11ad850b0a4ed9

thanks for your help.

[2017-10-29 20:24] crazy-max commented on #32
Ok can you post your hash file plz ?

[2017-10-29 20:30] mickael-bertrand commented on #32
[seedbox.db.zip](https://github.com/ftpgrab/ftpgrab/files/1425472/seedbox.db.zip)
Here is the sqlite file.
for this file :
"27"	"27"	"aa5c5b6f229f96719be96073bf11ad850b0a4ed9"	"_FILMS1080/[ Torrent9.tv ] Cars.3.2017.MULTi.1080p.BluRay.x264-LOST.mkv"

[2017-10-29 20:57] mickael-bertrand commented on #32
I tried with two files containing spaces or not, it's the same thing.

[2017-10-30 20:49] crazy-max commented on #32
Hi, you right, there is an issue!
Thanks for your input, i will investigate on this.

[2017-10-30 21:52] crazy-max commented on #32
@mickael-bertrand Should be solved in the latest release ;)

[2017-10-30 21:52] #32 closed

[2017-10-31 08:14] mickael-bertrand commented on #32
Thanks @crazy-max.
In the meantime, if you know a possible workaround, I'd be interested.
Have a nice day.

[2017-10-31 08:25] mickael-bertrand commented on #32
Sorry i didnt see the new release :).
I just tried it and it works perfectly.
Thank you very much for your reactivity

[2017-10-31 08:47] crazy-max commented on #32
Hi @mickael-bertrand !
Your welcome and thanks a lot for your donation, it is much appreciated :)

[2017-12-13 04:17] airainchoc commented on #27
May I ask if you made any progress on this ?

Thanks

[2017-12-14 11:11] crazy-max commented on #27
Hi, i will work on it next week.

[2017-12-15 07:54] airainchoc commented on #27
Thanks :)

[2017-12-26 04:17] crazy-max commented on #27
Hi, i have started to work on it, i keep you in touch

[2017-12-26 17:42] crazy-max commented on #27
Hi guys, the latest release 4.3.0 include this feature : https://ftpgrab.github.io/news/2017-12-26-ftpgrab-4.3.0-available/

[2017-12-26 17:42] #27 closed

[2017-12-26 17:45] crazy-max commented on #26
This issue has been closed because it has been inactive for a long time.
But we can always reopen it though!

[2017-12-26 17:45] #26 closed

[2018-01-08 22:53] masgo opened #33 "Empty folder leeds to spinlock"
Hi,
first of all thanks for this great script!

When trying to use it, my example directory structure contained an empty folder which lead to the script hanging forever.

With debug enabled I could see how it loops. The only thing that changes is the `srchash`
As soon as I added an empty file to this folder, the problem was gone.

Here is an excerpt of the debug output (I censored the real names)

[2018-01-08 23:00] crazy-max commented on #33
Hi @masgo, thanks for your feedback, I will take a look asap

[2018-01-10 13:24] antonzhelyazkov opened #34 "hash txt error"
Hi,

ftpgrab is nice software. I use it with hash storage text. I have got error

[code]

[2018-01-10 14:10] crazy-max commented on #34
Hi @antonzhelyazkov, please review your issue : https://ftpgrab.github.io/doc/reporting-issue/
Thanks

[2018-01-11 07:18] antonzhelyazkov commented on #34
Hi,

I tried to investigate the problem. We have strange circumstances - files in different directories have same names! For example:

Process file: animalplanet/EPG-14-01-2018.xml
Process file: discovery/EPG-14-01-2018.xml
Process file: natgeo/EPG-14-01-2018.xml
Process file: eurosport/EPG-14-01-2018.xml
Process file: 24kitchen/EPG-14-01-2018.xml

Problem occurs when files are already downloaded

[2018-01-11 10:54] crazy-max commented on #34
Hi, can you reproduce the problem with DEBUG=1 in the config fileand post your log file please ?
Thanks

[2018-01-11 12:46] antonzhelyazkov commented on #34
Hi @crazy-max,

here is output with debug mode

[code]

[2018-01-11 12:49] crazy-max commented on #34
Ok thx i keep u in touch

[2018-01-11 13:06] crazy-max commented on #34
Can you post your hash file please ? It seems there is unexpected symbols.

[2018-01-11 13:15] crazy-max commented on #34
Nevermind i found the issue

[2018-01-11 13:33] antonzhelyazkov commented on #34
Do you want to setup FTP with our or send you our ftp root with all files to reproduce the problem at your site?

[2018-01-11 13:49] crazy-max commented on #33
Can you post your config file please ? And if possible the structure of the FTP_SOURCES (command `tree`).
Thanks

[2018-01-11 14:03] masgo commented on #33
I only have FTP access to the server, therefore I can not do a `tree`.  But if I do the curl command from the debug logs:

`curl --silent --list-only --globoff -u xxxxx:xxxxx --ftp-ssl ftp://xxxxxxxx:21/THE_EMPTY_FOLDER/  > response.txt`

Then the response file has 0 Bytes.

The name of the empty folder contains of characters, numbers and the `_` sign.

config:
[code]

[2018-01-11 14:09] crazy-max commented on #33
Ok thanks

[2018-01-11 14:29] crazy-max commented on #33
@masgo I cannot reproduce your issue.
Can you post your full log if possible ?
And follow those steps please : https://ftpgrab.github.io/doc/reporting-issue/
Thanks

[2018-01-13 17:54] crazy-max commented on #33
@masgo Some feedback to help me investigate on your issue ?

[2018-01-13 17:54] crazy-max commented on #34
No thanks @antonzhelyazkov, i've got everything i need.
Will be solved in the next release.

[2018-01-14 21:11] airainchoc opened #35 "line 73 and line 88 [: too many arguments"
I was getting an error while executing the script (/usr/bin/ftpgrab: line 73: [: too many arguments), but I found the solution:

in /usr/bin/ftpgrab,
line 73:
change:
`         if [ "$HASH_STORAGE" == "text" ] && [ -z $(grep "^$_SRC_HASH" "$HASH_FILE") ]`
to:
`        if [ "$HASH_STORAGE" == "text" ] && [[ -z $(grep "^$_SRC_HASH" "$HASH_FILE") ]]`

line 88:
change:
`    if [ "$HASH_STORAGE" == "te

[2018-01-14 21:15] crazy-max commented on #35
Hi @airainchoc, this duplicate the issue #34
But thanks for your input!

[2018-01-14 21:15] #35 closed

[2018-01-15 08:06] crazy-max commented on #33
Ok thanks @masgo

[2018-01-15 08:49] crazy-max commented on #34
Has been solved in the latest release (4.3.1)

[2018-01-15 08:49] #34 closed

[2018-01-15 08:49] crazy-max commented on #35
Has been solved in the latest release (4.3.1)

[2018-01-15 09:11] antonzhelyazkov commented on #34
Great :)
Now script works correctly.

[2018-02-07 18:00] crazy-max commented on #33
@masgo Oh i completely forgot your issue 😕 I will make a new release this week to solve it! Sorry!

[2018-02-07 18:04] crazy-max opened #36 "Rewrite from scratch with Go"
- [x] Multiplatform : MacOS, FreeBSD, Linux, Windows, ARM, Android, Synology, QNAP
- [x] Modern CLI interactions with [cobra](https://github.com/spf13/cobra)
- [x] JSON Configuration file
- [x] Detect and merge configuration
- [x] Add [Goreleaser](https://goreleaser.com/)
- [x] [Bolt](https://github.com/boltdb/bolt) db to store hash
- [x] Native FTP client
- [x] Logging with [zerolog](https://gith

[2018-02-07 18:06] crazy-max commented on #7
Will be available through the next major release, see #36

[2018-02-07 18:06] #7 closed

[2018-02-08 02:03] masgo commented on #33
@crazy-max hey no problem! This is a free and open source project. I have seen (much) longer bugfix times from software where I was a paying customer. So don't worry, you are doing a great job.

[2018-02-08 02:15] masgo commented on #36
I am worried that a rewrite might make this rather small tool which does it's job to something big which is no longer handy for automated purposes. Having something like a webui is nice for beginners, but I would not want it on a server where I call ftpgrab from cron.

So, the question is: what is your goal?

The pro and cons right now are (from my point of view)

- pro: minimal requirements
- pro

[2018-02-08 20:08] crazy-max commented on #36
Hello @masgo, don't worry, the webui functionality would be available as a "plugin". FTPGrab will remain primarily an automation process.

As far as the complete rewriting is concerned, I chose Golang because I master this language. This will make it easier for me to maintain the code and have cross-compatibility with the different platforms, which is not possible with shell language.

For your co

[2018-02-21 03:55] mbc0 opened #37 "ftpgrab trying to download unfinished downloads"
Hi,

I love this little program, it works very very well for me except I am getting failures due to ftpgrab trying to download a file from my ftp that has not finished downloading.. is there a way around this?

Many Thanks!

[2018-02-23 23:34] crazy-max commented on #37
Hi @mbc0,

FTPGrab does not read the status of the file to see if it is opened by another program. Therefore, you should download first to a temporary folder and then move it to the folder that will be used by FTPGrab. Are you using rTorrent? Maybe it's also related to issue #32? Please let me know. Thank you

[2018-02-24 00:01] mbc0 commented on #37
Hi, it is not related to issue #32 it's answered as you say by not reading the status of a file to check if it is open or not.  I use ftp grab to download from rutorrent with no issues, but I also use it to download the output directory of a handbrake auto conversion docker which quite often has uncomplete encodes in it. ftpgrab tries 3 times then gives up then tries again in an hour so not the en

[2018-02-24 00:50] crazy-max commented on #37
Yes this is a very old and well-known problem with the FTP protocol. What we can do is recover the size of the file and check 5 seconds later if its size has not changed.

[2018-02-24 01:48] mbc0 commented on #37
No worries, I understand, thank you for replying! :-)

[2018-02-24 01:51] crazy-max commented on #37
No problme, i will make a slight modification to solve this problem or at least detect it.

[2018-02-24 08:56] mbc0 commented on #37
fantastic!! Thanks!!

[2018-03-04 23:33] crazy-max commented on #33
@masgo I still haven't been able to reproduce your problem on several configurations.

Here is a simple test I have made with a FTP source to **/test/test_empty/** containing :

[code]

The FTPGrab result is :

[code]

Can you make the same test and clean the destination directory ?
What is your linux distrib ?
And can you test on an other computer ? (or with the Docker image)

Thanks

[2018-04-09 10:09] mbc0 commented on #37
Hey mate, did you have any joy with this? :-)

[2018-04-20 01:02] crazy-max commented on #33
Close due to inactivity

[2018-04-20 01:17] crazy-max commented on #37
Hey @mbc0, check the latest release ;)

[2018-04-20 01:17] #37 closed

[2018-04-20 20:56] mbc0 commented on #37
Mate, you are a star! it works perfectly! such a great program, thanks so much :-)

[2018-05-14 16:23] daemqn opened #38 "nawk on DS216j / DSM 6.1.6-15266 Update 1"
Hi,

nawk is not available on DSM 6.1.6-15266 Update 1.
I installed entware but its not there too.
I commented the nawk part on the script and it seems to be fine though.
Thanks for your great script anyway :)

[2018-05-14 16:42] crazy-max commented on #38
Indeed, `nawk` is not required anymore. I will update the script, thanks for your input and support!

[2018-05-14 16:51] daemqn commented on #38
thanks
and update the requirements ;)

[2018-05-14 17:01] crazy-max commented on #38
Solved in 4.3.3 release

[2018-05-14 17:01] #38 closed

[2018-06-22 05:57] lochstar opened #39 "Ignore files by date?"
Hi,

I was wondering if there was a way to set ftpgrab to only look at files in a directory, starting from a particular date?

I'd like to set it up to monitor a remote dir, but don't need it pulling in a bunch of files that exist remotely that I have already downloaded and sorted.

Thanks for the help.

[2018-08-02 03:11] evosolnet opened #40 "Always getting Status: Hash sum exists. Skip download..."
I seem to get this result when trying to download a file with the same name as one previously downloaded.  However I know that the file has changed, and the sha1sum does not match what is in the hash db.  The output even indicates the file size is different, but displays an incorrect sha1sum than if I download the file and run sha1sum filename

[2018-08-05 13:06] daemqn opened #41 "ftpgrab restarts automatically after being killed"
Hi,

I can't get ftpgrab to stop after killing it.
The process always starts again
Thanks

[2018-08-05 22:02] crazy-max commented on #41
Hi,

Just use the `kill(1)` command but instead of giving it a process number, give it the negation of the group number. For example to kill every process in group 5112, use `kill -TERM -- -5112`.

Src: https://stackoverflow.com/a/392155/514571

[2018-08-05 22:02] #41 closed

[2018-08-14 12:16] fletcherm commented on #33
Hi crazy-max,

I may have a fix for this problem. Please see my commit here -- https://github.com/fletcherm/ftpgrab/commit/e78c8443316f1e93e6a7b4fd88b9be7cb6e72704

I was experiencing the same problem as masgo -- ftpgrab stuck listing the same empty directory over and over again, appending a `/` each subsequent time but getting the same result.

The linked commit breaks from the recursive function

[2018-08-15 09:55] crazy-max commented on #33
Hi @fletcherm, thanks for your input on this. I will check this out asap.

[2018-08-15 11:18] fletcherm commented on #33
Thanks, crazy-max.

I did some overnight testing against a live system. The patch appears to be holding up well. I am eager to learn what your testing finds.

A couple of other caveats:

1. My bash scripting skills are not great so I am open to alternative, better ways to test for empty results.
2. It would be wise to trim whitespace from the `_$FILES` variable before testing for emptiness, incase

[2018-08-15 12:03] crazy-max commented on #33
Ok thanks, i make some test today and it seems to only happen if `FTP_SOURCES=/`.

[2018-08-15 12:53] fletcherm commented on #33
Cool! I am glad you were able to reproduce it.

For what it's worth, my `FTP_SOURCES` has about a half dozen entries. Either way I am glad you found the problem. Thanks for the updates!

[2018-08-15 12:54] crazy-max commented on #33
And thanks to you to help me figures this out :)

[2018-08-15 12:54] #33 closed

[2018-08-15 13:04] crazy-max commented on #40
Hi,

Please read and apply [SUPPORT.md](https://github.com/ftpgrab/ftpgrab/blob/master/.github/SUPPORT.md) page
Thanks

[2018-08-15 13:05] crazy-max commented on #39
Hi,

It's a feasable feature, i put this in my backlog
Thanks for your input

[2018-08-28 01:16] crazy-max commented on #40
Closed due to inactivity

[2018-08-28 01:16] #40 closed

[2019-02-12 18:34] crazy-max commented on #39
@lochstar Available in the latest release

[2019-02-12 18:34] #39 closed

[2019-02-12 18:34] #36 closed

[2019-02-12 21:52] gregf opened #42 "support sftp"
* FTPGrab version (5.0.0) :
* Platform (freebsd) :

It would be nice if you could support sftp (ssh ftp). It looks like you might have in the past but it was removed? I would really like to use this, but would rather not run a ftp server when i already have ssh enabled.

[2019-02-12 21:57] crazy-max commented on #42
Hi @gregf, yes previously it was available through cURL. I completely forgot about it :sweat:. I will add support for SFTP on the next release and also bring support for FreeBSD ;)

Thanks for your input!

[2019-02-13 07:27] gregf commented on #42
I have used this library in the past to do sftp in one of my projects.

https://github.com/pkg/sftp

Might be of some use.

[2019-02-14 12:46] crazy-max commented on #42
@gregf I have introduced SFTP support in the [latest beta](https://github.com/ftpgrab/ftpgrab/releases/tag/5.1.0-beta.1). Pubkey auth is not available for the moment. Can you give me your input? Thanks!

[2019-02-14 14:16] gregf commented on #42
[code]
server:
  type: sftp
  sftp:
    host: example.com
    port: 22
    username: gregf
    password: super_secret_password
  sources:
    - /home/gregf/downloads/tv

db:
  enable: true
  path: ~/.ftpgrab/tv.db

download:
  output: /mnt/media/tv/unsorted
  uid: gregf
  gid: gregf
  chmod_file: 0644
  chmod_dir: 0755
  include:
  exclude:
  since: 0001-01-01T00:00:00Z
  retry: 3
  hide_skipped:

[2019-02-14 14:24] crazy-max commented on #42
@gregf `uid` and `gid` must be an integer (`root` > `0`) and the indentation of `sources` is not good either :

[code]

[2019-02-14 14:30] gregf commented on #42
I tested in filezilla first and it logs in fine, with ftpgrab I get this error.

[code]

[2019-02-14 14:41] crazy-max commented on #42
For the moment you must set `insecure_skip_verify: true` to FTPGrab configuration:

[code]

I will push a fix asap to fix that.

[2019-02-14 14:43] gregf commented on #42
That does indeed make it work. Thank you  for taking the time to add sftp!

[2019-02-14 19:23] gregf commented on #42
should update the ftpgrab.yml in the basedir so people know the new options. I just noticed the updated beta1.

[2019-02-14 19:25] crazy-max commented on #42
@gregf Already pushed in [feature/sftp](https://github.com/ftpgrab/ftpgrab/tree/feature/sftp/.res/config) branch ;) I currently updated the doc.

[2019-02-14 19:29] gregf commented on #42
[code]

[2019-02-14 19:30] gregf commented on #42
[code]

[2019-02-14 19:41] #42 closed

[2019-02-14 19:45] crazy-max commented on #42
@gregf Wait for 5.1.0 and keep me in touch, I think you are using outdated sources.

[2019-02-15 00:26] gregf opened #45 "host is required but specified"
ftpgrab freebsd 64bit binary from the 5.1.0 release. Two issues.

First I get this even though host is defined in sftp.

Fri, 15 Feb 2019 00:23:38 UTC FTL Improper configuration error="host is required"

ftpgrab --version reprots "dev" instead of the actual version number.

[2019-02-15 00:28] crazy-max commented on #45
@gregf Can you post your config ull config file please ?

[2019-02-15 00:48] gregf commented on #45
[code]

[2019-02-15 00:53] crazy-max commented on #45
Sources is a slice :

[code]

[2019-02-15 01:10] crazy-max commented on #45
@gregf That's because you probably not using the official release. Download [the latest version](https://ftpgrab.github.io/doc/get-started/#binary) and also check the path of `ftpgrab`.

[2019-02-15 01:14] gregf commented on #45
@crazy-max I said I downloaded the official binary release.

[2019-02-15 01:16] crazy-max commented on #45
What is the output of `which ftpgrab` ?

[2019-02-15 01:32] gregf commented on #45
I'm a moron totally forgot I had a old copy installed from source when I was working on the FreeBSD port. It was using that over the copy I through in ~/bin. Feel free to close.

[2019-02-15 01:37] #45 closed

[2019-02-16 19:38] gregf opened #46 "add ftpgrab train command"
It would be nice if I could point ftpgrab to a directory of files and it would hash them so it wouldn't download them again. Sometimes it's not as simple as setting a date on from when to grab. I think this would be a nice way to train it before you use it so it's not downloading anything you already have.

[2019-02-16 19:44] crazy-max commented on #46
@gregf FTPGrab already set hash of files based on their paths inside a Bolt database to prevent download them again. Do you talk about something like #12 ?

[2019-02-17 00:31] gregf commented on #46
No, before I start using the program to download stuff I want to pass it my local tv directory have it index all those files, then start downloading and have it not download anything I have locally.

[2019-02-17 01:01] crazy-max commented on #46
This is already the case, see https://github.com/ftpgrab/ftpgrab/blob/master/internal/app/ftpgrab.go#L172-L175

[2019-03-18 12:36] #46 closed

[2019-03-26 09:04] cmandesign opened #47 "Connection Per Host is not working"
Dears,
First of all thanks for developing such a simple and reliable tool. Second, I want to know why the connection_per_host parameter is not working at all?
I've set the parameter to 10, but it only transfer 1 file simultaneously. I want to make it faster with multiple connections, what should i do now ?

[code]

[2019-03-26 09:11] crazy-max commented on #47
Hi @cmandesign, can you open a proper [bug report](https://github.com/ftpgrab/ftpgrab/issues/new?template=bug_report.md) please ? Thanks for your support!

[2019-03-28 10:46] cmandesign opened #48 "Connection per host is not working"
### Behaviour

#### Steps to reproduce this issue

1. Make config file with proper credentials
2. Start FTP Grabber
3. FTP Grabber starts to download, but single file simultaneously

#### Expected behaviour

I expected to see multiple downloads when I set connection per host.

#### Actual behaviour

It only downloads files sequentially, one by one.

### Configuration

* FTPGrab version : 5.1.1
* P

[2019-03-28 10:48] crazy-max commented on #47
Closed by #48

[2019-03-28 10:48] #47 closed

[2019-03-28 17:32] crazy-max commented on #48
Thank you for the report, I understand better now. The `ConnectionsPerHost` setting is the maximum number of FTP connections per host. This one is useless and will be removed in the next version.
As far as simultaneous downloads are concerned, this is not yet in place but I will take into account your request :wink:

[2019-04-30 09:39] mickael-bertrand opened #49 "Skip download when path contain character like "[" and "]""
Hi :)

### Behaviour

Downloads are not started when parent folder name contain brackets as a character **[** or **]**

#### Steps to reproduce this issue

1. create folder with brackets caracter like **[** or **]**, for example directory.**[**team**]**/filename.mkv
2. grabftp list the file, send the command, but do not start download
3. configure disable_epsv: true

#### Expected behaviour

[code

[2019-04-30 17:49] crazy-max commented on #49
Hi @mickael-bertrand, thanks for your concise report. I'll take a look asap ;)

[2019-05-01 22:15] crazy-max commented on #49
@mickael-bertrand Cannot reproduce your issue, can you give me your full log output please without sensitive data ? Here is mine :

[code]

[2019-05-02 07:20] mickael-bertrand commented on #49
Hi,

Here is the full log, you can see all file with bracket are not downloaded. (i can download them with my ftp client).

[code]

[2019-05-02 07:31] mickael-bertrand commented on #49
and here is the log of my ftp client if it can help you :

[code]

[2019-05-02 12:22] mickael-bertrand commented on #49
Maybe an error with the MLSD command to list content of a directory with bracket character... ?
My ftp client is using LIST.

[2019-05-02 20:53] crazy-max commented on #49
@mickael-bertrand Looks it happens when a folder contains a closing bracket. I keep you in touch.

[2019-05-02 22:35] crazy-max commented on #49
@mickael-bertrand I have opened an issue on the upstream repository secsy/goftp#39.

[2019-05-03 15:32] crazy-max commented on #49
@mickael-bertrand Ok after digging it's an issue with PureFTPd. I think this is something linked to globbing like [ProFTPd](http://www.proftpd.org/docs/howto/Globbing.html). I don't know how to disable global matching for pureFTPd but I can force FTPGrab to escape those globbing chars.

[2019-05-03 18:23] mickael-bertrand commented on #49
OK good news:)
Thanks for the search and if you find time to do a workaround it's great because tour app is very usefull !

[2019-05-04 00:27] crazy-max commented on #49
@mickael-bertrand Latest release should fix your issue ;)

[2019-05-04 00:27] #49 closed

[2019-05-06 07:32] mickael-bertrand commented on #49
Thanks, tested and approved :)

[2019-05-06 12:14] crazy-max commented on #49
Hi @mickael-bertrand, glad to hear it and thanks a lot for your donation :heart:

[2019-06-03 09:03] foolin opened #50 "Is support config charset like GB2312?"
### Behaviour

A chinese ftp server, the folder like "中文目录",  it can't create the correct directory.

#### Steps to reproduce this issue

1. A ftp server set charset GB2312
2. use ftpgrab

### Configuration

* FTPGrab version (5.0.0) :  5.3.0
* Platform (windows/linux/freebsd/macos) :  linux
* Remote FTP (Pure-FTPd) or SFTP (OpenSSH) server:  security and private, sorry!

### Logs

[code]

![image

[2019-06-04 08:36] foolin commented on #50
I had fork and support GBK at: https://github.com/foolin/ftpgrab

@crazy-max I can PR if necessary~~

[2019-06-04 10:55] crazy-max commented on #50
Hi @foolin,

I looked at your changes quickly and I would have some suggestions to solidify the implementation.

Yes sure, feel free to open a PR!

[2019-06-04 18:01] nandu2u2 opened #52 "unable to use config"
### Behaviour
I have copied the sample yml files and get numerous errors when trying to use them. I'm assuming I must be doing something wrong here.

#### Steps to reproduce this issue

1.create config
2.run
3.errors

#### Expected behaviour

#### Actual behaviour
Errors like this:

Tue, 04 Jun 2019 17:15:15 UTC INF Starting FTPGrab 5.3.0
Tue, 04 Jun 2019 17:15:15 UTC FTL Cannot load configuration

[2019-06-04 18:14] nandu2u2 commented on #52
if I remove the space before the 5 on line 5 I get an error on line 12 which is just a tab and then 'tls:'. If I remove the tab before line 12 I get:
xxx~$ ./ftpgrab --config=ftpgrab.yml --log-level="debug"
Tue, 04 Jun 2019 18:09:29 UTC INF Starting FTPGrab 5.3.0
Tue, 04 Jun 2019 18:09:29 UTC FTL Cannot load configuration error="unable to decode into struct, yaml: line 12: mapping values are not a

[2019-06-04 18:48] crazy-max commented on #52
Hi @nandu2u2, can you post your file here without sensitive data (use drag & drop) ?

[2019-06-04 18:54] nandu2u2 commented on #52
[ftpgrab.yml.txt](https://github.com/ftpgrab/ftpgrab/files/3254068/ftpgrab.yml.txt)

[2019-06-04 18:57] crazy-max commented on #52
Syntax is incorrect (line 12). Start from [this example](https://github.com/ftpgrab/ftpgrab/blob/master/.res/config/ftpgrab-ftp.yml) and keep me in touch.

[2019-06-04 18:57] #52 closed

[2019-06-04 18:58] nandu2u2 commented on #52
I wonder if n++ is causing issues for some reason. going to try just using notepad

[2019-06-04 19:02] nandu2u2 commented on #52
Yeah it definitely seems to have been notepad++ adding in something :/

[2019-06-04 19:04] crazy-max commented on #52
Line 8 is also incorrect (`source:/`). Here is a correct syntax for your file:

[code]

[2019-06-04 19:15] nandu2u2 commented on #52
So what I was doing after I added the file through WinSCP was I was editing it in WinSCP using Notepad++ locally and WinSCP was upping the changes automatically at file save. For some reason this was causing the script to have bad characters in it. working like a champ now :/

[2019-06-04 19:18] crazy-max commented on #52
Syntax correction from this apps can caused this yes. You should use a simple vim or nano to edit your config on your server instead ;)

[2019-06-05 03:22] foolin opened #53 "directory name has "." bug"
### Behaviour

When ftp server has directory name contains ".",  read direcotry files fail.

#### Steps to reproduce this issue

1. Create direcotry like "data-2019.1-12"
2. Upload a file to the diredtory

#### Expected behaviour

#### Actual behaviour

### Configuration

* FTPGrab version (5.0.0) :  5.3.0
* Platform (windows/linux/freebsd/macos) :  Linux
* Remote FTP (Pure-FTPd) or SFTP (OpenSSH)

[2019-06-05 17:08] crazy-max commented on #53
Hi @foolin, thanks for your report but I cannot reproduce your issue :

[code]

Can you post your full log ?

[2019-06-06 02:51] foolin commented on #53
Oh, let me see how it reproduce。

[2019-06-06 03:44] foolin commented on #53
@crazy-max You try this directory name: "/2015\xc4\xea\u012b\xce\xf7\xb8\xe7\xbd\xf8\xbf\u06ba\xa3\xb9\xd8\xca\xfd\xbe\xdd/\u012b\xce\xf7\xb8\xe7-\xbd\xf8\xbf\xda-2015.1-12"

In chinese:  "/2015年墨西哥进口海关数据/墨西哥-进口-2015.1-12"

May be the sample as charset problem...

[2019-06-06 10:28] crazy-max commented on #53
Ok so this a regression from your PR. I'm closing this issue and will start a review on your PR when I've got some time.

[2019-06-06 10:30] #53 closed

[2019-06-21 12:18] #50 closed

[2019-07-15 02:14] foolin opened #54 "The server files updated not sync to local"
The server files updated not sync to local, the sample file name is not sync.

Can you support this feature?  eg: check sum for content ,not file name.

[2019-07-17 23:13] crazy-max commented on #54
This has been discussed in #12. If you are interested about my proposal, I can reopen this issue.

[2019-07-17 23:13] #54 closed

[2019-07-18 19:48] crazy-max opened #55 "Cannot read directory error if filename contains ; char"
If a file in a directory (FTP  server) contains a `;` the following error occurred :

[code]

Bug related to [secsy/goftp](https://github.com/secsy/goftp) module.

[2019-07-20 02:53] crazy-max commented on #55
I have made a [fork](https://github.com/crazy-max/goftp) of [secsy/goftp](https://github.com/secsy/goftp) used by FTPGrab to fix some issues like this one and bring improvements :

* Do not fail on incomplete MLSD / LIST entries
* Fix MLST parser
* Check if MLST supported otherwise fallback to LIST
* Add CLNT and UTF8 feature support

[2019-07-20 03:04] #55 closed

[2019-07-20 03:16] crazy-max commented on #50
@foolin Can you try the latest release (5.5.0) ? I have made some changes on a fork of goftp module (see #55)

[2019-07-20 04:23] muirmanders commented on #55
Yes, definitely interested in improvements. Some of your changes overlap with an old PR https://github.com/secsy/goftp/pull/19.

goftp tries MLST without checking the feature because there are some servers that don't advertise the feature properly. I prefer the linked PR's approach of just "remembering" MLST doesn't work.

[2019-07-20 16:04] crazy-max commented on #55
@muirmanders Yes indeed but this PR has to many features. I think I will create one PR per feature/fix.

[2019-07-26 02:55] foolin commented on #50
Good! Thanks!

[2019-08-07 15:41] ynqjwsm opened #57 "New feature suggestions"
ftpgrab is a great software, but in the process of using, I hope to add the following features：

1. finished check，detecting whether the file has been written，such as delay detection file size（First check the file size once, and then check it again after 10 seconds. If the two sizes are equal, the file is completed.），suffix filtering（just like sample.txt and sample.txt.writting），ok file check（Ther

[2019-08-08 21:50] crazy-max commented on #57
Hi @ynqjwsm,

1. I think the suffix filtering would be good enough. I could implement a delay detection when #48 will be fixed.
2. If you talk about sources paths yes we can do that.
3. For each file? Do you have a use case?

Thanks for your suggestions!

[2019-09-27 08:35] hongkongkiwi opened #58 "POST for Webhook"
Hi there,

Firstly, thank you for an excellent piece of software that does an amazing job of something that so many people need! I really appreciate the authors effort here.

For my use case, there is one small feature missing which is POST support for the webhook.

The use case is to send a slack message upon completion of the sync. Sending a SLACK message requires some params (notably some info

[2019-09-27 13:14] crazy-max commented on #58
Hi @hongkongkiwi,

You can already set POST method (see [webhook documentation](https://ftpgrab.github.io/doc/configuration/#webhook)).
And thanks for your support!

[2019-10-04 13:58] #58 closed

[2019-10-05 05:15] hongkongkiwi commented on #58
Hi, perhaps I missed it but I couldn't see any documentation about the POST format for the webhook? I can only see GET mentioned. Did I miss something?

[code]

[2019-10-05 14:41] crazy-max commented on #58
@hongkongkiwi, you have to set `method; POST`, that's it :)
The body structure will look like [this](https://ftpgrab.github.io/doc/faq/#whats-the-structure-of-the-webhook-notification).

[2019-10-27 23:34] boomramada opened #60 "connection refused"
Hi There,

I'm getting following error
Mon, 28 Oct 2019 00:25:29 CET FTL Cannot connect to server error="dial tcp 127.0.0.1:29: connect: connection refused"

And here is my conf

`
server:
  type: ftp
  ftp:
    host: localhost
    port: 29
    username: ftp
    password: ftp
    sources:
      - /
    timeout: 5
    disable_epsv: false
    tls: false
    insecure_skip_verify: false
    log_trace:

[2019-10-30 15:58] crazy-max commented on #60
Please create proper [bug report](https://github.com/ftpgrab/ftpgrab/issues/new?template=bug_report.md). Thanks.

[2019-12-17 17:00] marccolemont opened #61 "Multiple FTP instances"
I have been searching this forum but don't find the answer here unless I overlooked.
I want to use FTPgrab on a Synology NAS to sync automatically multiple Hyperdeck Mini video recorders (which have an internal FTP server) to the NAS. Each recorder will get its own directory.
- Can I configure multiple directories / IP addresses with one FTPgrab instance? Or do I need to run multiple FTPgrab's for

[2019-12-17 19:45] crazy-max commented on #61
You can only configure one provider. But what you can do is creating one config file for each servers and launch multi instances of FTPGrab:

[code]

Yes indeed, #57 covers this enhancement. For now can you instead move files to a _complete_ folder and grab from them?

[2019-12-17 19:48] crazy-max opened #62 "Check if finished before downloading"
Taken from #57

* Detect if the file is not being written before downloading it.
* Or with a filter on the suffix of the file name.

[2019-12-17 19:58] crazy-max opened #63 "Path placeholders support"
Taken from #57

Add support for placeholder on sources paths.

* date: `/data/{{ .Date.Format "2006 Jan 02" }}/`
* regexp: `^/data/\d{8}/`
* ...

[2019-12-17 20:00] crazy-max opened #64 "Exec command after file transfer completed"
Take from #57

Execute command after file transfer completed with some built-in parameters like file path,size, etc...

[2019-12-17 20:00] #57 closed

[2019-12-18 10:27] marccolemont commented on #61
Thanks for the reply.

Moving files manually on the loaded SD cards on the Hyperdeck recorder would require a second FTP access, and it doesn’t allow that. Just tried again FTP connections are lost until reboot when I try with 2 users on the same device.
Hmm … What I then need for the time being is a way to manual trigger ftpgrab to check for new files after a session has been recorded on the Hype

[2019-12-18 17:24] crazy-max commented on #61
Ok so I think it's enough if we cover #62 for your use case.

[2019-12-18 17:25] #61 closed

[2020-01-17 22:27] craigkc opened #69 "Documentation/Functionality Mismatch"
### Behaviour
In the ftpgrab.yml file, the implementation of the parsing of "timeout" is different between FTP and SFTP and doesn't match documentation.

#### Steps to reproduce this issue

1. Configure a ftpgrab.yml FTP block with "**timeout: 30**" which will succeed.

2. Configure a ftpgrab.yml FTP block with "**timeout: 30s**" which will fail with error="unable to decode into struct, yaml: unma

[2020-01-19 16:11] crazy-max commented on #69
Hi @craigkc,

Indeed this is linked to go-yaml/yaml@9e32271 introduced in yaml v3. I will make some changes about this. Thanks for your input.

[2020-01-19 17:28] crazy-max commented on #69
@craigkc Should be ok with latest release

[2020-01-19 17:28] #69 closed

[2020-01-19 17:29] craigkc commented on #69
I haven't used the Webhook function, so good catch unifying it as well.  Thanks for the quick update, even though my report was incredibly minor!

[2020-03-27 19:36] kamil7732 opened #74 "FTL Cannot connect to server error="cannot open ssh connection, dial tcp xxxx:zzzz: i/o timeout"
### Behaviour

#### Steps to reproduce this issue

1. install it on synology's docker
2. setup the file to have sftp and download folder, use only key url not a password
3. get an error

#### Expected behaviour

connection to the server

#### Actual behaviour

FTL Cannot connect to server error="cannot open ssh connection, dial tcp xxxxxx:zzzz: i/o timeout

### Configuration

* FTPGrab version (5.

[2020-03-29 01:29] crazy-max commented on #74
@kamil7732

Looks like you cannot open a SSH connection to `xxx.xxx.xx.xx:zzzz`. What is the output of the following command?:

[code]

[2020-04-07 19:18] #74 closed

[2020-04-27 08:38] aversag commented on #63
Hi there,
@crazy-max thank you for this beautoful project
is this enhancement planned for next release ? thank you

[2020-04-27 08:40] aversag opened #75 "Dynamic download path"
### Behaviour
I'd like to sync my files and put it in daily directories.

For example, a config like this :

[code]

[2020-04-28 17:39] crazy-max commented on #63
Hi @aversag, will take a look when I've got some time. Thanks

[2020-05-15 10:39] Thlb opened #76 "Temporary folder for downloading files"
Hi,

Enhancement idea : put currently downloading files/folder in a temporary location, then move it when completed.

Thanks for work 🥇

[2020-05-15 10:42] crazy-max commented on #76
Hi @Thlb, LGTM I put this in my backlog.

[2020-05-17 17:50] daemqn commented on #76
I "plussoye" this good idea thlb :)

[2020-06-11 11:32] davidpelayo commented on #74
I'm attempting to use this tool as well. I'm only getting issues with the connection.
Tweaking the config here and there I manage to get connected but nothing gets downloaded due an error.

The dockerized version and the binary ones on Mac OS X both behave the same.

The error is the following: `Thu, 11 Jun 2020 13:30:59 CEST FTL Cannot connect to server error="read tcp x.x.x.x:port->x.x.x.x:21: r

[2020-06-11 12:43] davidpelayo commented on #74
After investigating it turns out if was a misconfiguration on the FTP server I was trying to connect against.

How did I figure? Switching to a different FTP server (in this case a sFTP one), which worked fine.

[2020-06-17 13:54] ADRFranklin opened #83 "Unable to connect to server"
### Behaviour

#### Steps to reproduce this issue

1. Pull docker image
2. Run docker image
3. Get an error about "Cannot connect to server"

#### Expected behaviour

I expect that I should be able to connect to the ftp server

#### Actual behaviour

{"level":"fatal","error":"dial tcp: i/o timeout","time":"2020-06-17T14:34:22+01:00","message":"Cannot connect to server"}

### Configuration

* FTPGr

[2020-06-17 14:42] crazy-max commented on #83
@ADRFranklin

Please use latest stable release: **6.4.0**

Which version of Pure-FTPd? Can you give me server logs?

Looks like the container cannot reach your FTP server at `xxx:10105`
What's the output of `ftp xxx 10105`?

[2020-06-17 14:44] ADRFranklin commented on #83
@crazy-max I did mention, that I was able to connect to the ftp server using `ftp <hostname> <port>` just fine.

[code]

[2020-06-17 14:52] crazy-max commented on #83
@ADRFranklin Looking at those logs, your local port is `21`. Is it a Pure-FTPd standalone server or a container binded to `10105`? Also it looks like you're using explicit SSL on your server. Can you try this config:

[code]

And also use **ftpgrab/ftpgrab:6.4.0**. Thanks

[2020-06-17 15:04] ADRFranklin commented on #83
Errors from ftpgrab
[code]

Config:
[code]

Docker:
[code]

[2020-06-17 15:13] crazy-max commented on #83
@ADRFranklin Replace `timeout: 5` with `timeout: 5s`

[2020-06-17 15:18] ADRFranklin commented on #83
Ah, perfect it works. I noticed that the different between the configs was the fact the config example had an ` type: ftp` type in it, which seems to be the reason for it?

I know I tried with `insecure_skip_verify` true already and that made no difference.

[2020-06-17 15:40] #83 closed

[2020-06-17 20:18] ADRFranklin commented on #9
@crazy-max Any chance we could see this feature soon? I just spent the last few minutes wondering if there was some hidden config option for it. Its definitely  a worthwhile addition to the automation process of this tool.

[2020-07-06 21:38] Alexzanderk opened #88 "Access denide"
### Behaviour
Create folder
#### Steps to reproduce this issue

1. start docker container
2. use `promise-ftp`
3. create folder via `promise-ftp`

#### Expected behaviour
create a folder

#### Actual behaviour

error access denided

### Configuration
[code]
* FTPGrab version (6.4.0 ) : 6.4.0  latest
* Platform (**macos**) :  **macos**
* Remote **FTP** (Pure-FTPd) or SFTP (OpenSSH) server: **FTP**

[2020-07-06 21:43] crazy-max commented on #88
@Alexzanderk I think you've lost your way :thinking:

[2020-07-06 21:54] Alexzanderk commented on #88
@crazy-max ) Could you help what is wrong? I gave all access to write and read but get the error

[2020-07-06 22:00] crazy-max commented on #88
@Alexzanderk This is not a forum or a board so I can't help you in this context, sorry. Issues on GitHub are intended to deal only with the project they are based on. I advise you to open a thread on StackOverflow instead.

[2020-07-06 22:00] #88 closed

[2020-07-06 22:05] Alexzanderk commented on #88
@crazy-max Sorry but do you know your project? Obviously, the problem with configurations.

[2020-07-06 22:07] crazy-max commented on #88
@Alexzanderk This is a Golang project so I can't help you with your Typescript code sorry.

[2020-07-07 11:14] Alexzanderk commented on #88
@crazy-max I don't need your help with typescript! Man do you understand that I don't have permission to create a folder on the FTP server and I ask you to help with this question!
Can you cerate on golang  folder or not?
I tried with Filezilla with nodejs client and my attempts fail

[2020-07-07 11:18] crazy-max commented on #88
@Alexzanderk

FTPGrab is a FTP client not a FTP server so it does not create any folder or write any files on server side.

[2020-07-07 11:27] Alexzanderk commented on #88
@crazy-max Thanks now I understand, but how do you set up an FTP server for your client?

[2020-07-07 11:32] Alexzanderk commented on #88
@crazy-max other clients can create folders but why your client cannot?

[2020-07-07 11:35] crazy-max commented on #88
@Alexzanderk

Because it's not its purpose. See ["What is FTPGrab ?"](https://ftpgrab.github.io/).

[2020-07-07 11:37] Alexzanderk commented on #88
@crazy-max ok, thanks

[2020-07-07 11:56] Alexzanderk commented on #88
@crazy-max One more question why I found in the configuration file permissions on write? Why don't you add this functionality?  You client pretty good but not enough this functionality.

[2020-10-07 10:05] peterhoeg opened #130 "Feature Request - option to disable time in logging output"
### Behaviour

When running under systemd and thus logging to the journal, the timestamps are duplicated. Once from the journal and once from ftpgrab.

[code]

Ideally ftpgrab would just log the message and not add meta data such as time.

#### Steps to reproduce this issue

1. run under systemd
2. that's it - there is no step 2

#### Expected behaviour

[code]

### Configuration

* FTPGrab versio

[2020-10-07 12:55] peterhoeg opened #131 "ftpgrab fails to authenticate while curl is OK with the same credentials"
### Behaviour

ftpgrab is unable to connect to a 3rd party server which we can otherwise connect using curl with the same credentails.

We are both sending and receiving data.

 - The sending is handled by curl which works fine.
 - ftpgrab fails with "unable to authenticate".

Only sftp is allowed to the server.

#### Steps to reproduce this issue

1. run ftpgrab
2. observe the failure

#### Expec

[2020-10-13 21:24] crazy-max commented on #131
@peterhoeg

Can you give me the full curl command please?

Can you give me more info about the remote server? (os: Debian/Ubuntu/Alpine ; ssh server: OpenSSH/Dropbear ; config ssh)

[2020-10-27 07:14] peterhoeg commented on #131
Sorry to stay offline for so long. I have moved to `lftp` instead as we can do both the pushing and pulling with that although I really do like the idea of the declarative configuration with ftpgrab rather than scripting.

I have no details of the other side - it's not controlled by us.

Would you like me to close this considering I cannot give you much more information?

[2020-10-27 12:00] #131 closed

[2020-11-10 01:00] tthordarson opened #142 "Feature Request - Add a optional configuration parameter to run custom script when sync is completed."
It would be nice if I could configure FTPGrab to run custom bash script or command upon sync completion. An example of something I would like to do is unrar a archive file. Just suggesting this as a new feature.

[2020-11-10 06:08] tianyanli opened #143 "The debug log prompts to list files, but does not download the files in this folder"
The following is the debug log information：

[code]

I don't know why skip `/jenkins/packages/Energy-OS/tag/edge-datacollector` and go directly to download the files in `/jenkins/packages/Energy-OS/tag/edge-dpf`. I can download files in the path `/jenkins/packages/Energy-OS/tag/edge-datacollector` through the ftp command.

Below is a real ftp path：

[code]

[2020-11-10 06:09] tianyanli commented on #143
server:
  ftp:
    host: product.eniot.io
    port: 21
    username: test
    password: test
    sources:
      - /jenkins/packages/Energy-OS/tag/edge-datacollector
      - /jenkins/packages/Energy-OS/tag/edge-dpf
      - /jenkins/packages/Energy-OS/tag/edge-client
      - /jenkins/packages/Energy-OS/tag/edge-tsdbreader
      - /jenkins/packages/Energy-OS/tag/edge-tsdbwriter
      - /jenkins/packa

[2020-11-10 06:29] tianyanli commented on #143
Seems the same as this issue https://github.com/crazy-max/ftpgrab/issues/53

[2020-11-10 21:55] smozely commented on #142
Hopefully adding more than a +1 to this ... just details of a use case.

I'm using `rednoah/filebot` the watcher image, which isn't perfect at detecting when files are complete ... it waits for a single file to not have been changed for 5 minutes. But when it runs it looks at all files in a directory ... so thats caught me with it processing files that are still being downloaded by ftpgrab, when I

[2020-11-11 00:33] tthordarson commented on #142
Thanks for letting me know about this `rednoah/filebot` image. Definitely a workaround for us but it would still be ideal IMO to have the completed sync handling feature directly in FTPGrab :)

[2020-11-11 05:33] smozely commented on #142
Oh, I'm not saying this works 100% for me ... I still need something in FTPGrab to make it robust as well.

[2020-11-19 16:51] crazy-max commented on #142
@tthordarson Yes this is possible through a new notification handler I can introduce.

[2020-11-19 16:53] crazy-max commented on #143
@tianyanli

The message says `Skipped (Outdated file)` so in your case this file is outdated based on your config `since: 2020-05-01T00:00:00Z`.

[2020-11-25 22:46] luigi8bits opened #146 "[Doc Page] Page instructions "Linux Service" is wrong."
### Behaviour

In version 7, the environment variables for service Linux was changed (https://github.com/crazy-max/ftpgrab/pull/90)

But these steps of doc :
[https://crazymax.dev/ftpgrab/install/binary/#2-running-from-terminal](https://crazymax.dev/ftpgrab/install/binary/#2-running-from-terminal)
[https://crazymax.dev/ftpgrab/install/linux-service/#using-systemd](https://crazymax.dev/ftpgrab/inst

[2020-11-25 22:57] crazy-max commented on #146
@luigi8bits You're right! Thanks for your input!

[2020-11-25 23:08] crazy-max commented on #146
@luigi8bits Should be fixed.

[2020-11-25 23:08] #146 closed

[2020-11-29 02:42] #143 closed

[2020-11-29 04:36] crazy-max commented on #142
@tthordarson @smozely #147

[2020-11-29 04:36] crazy-max commented on #130
@peterhoeg #148

[2020-11-29 04:47] crazy-max commented on #76
@Thlb @daemqn #149

[2020-11-29 20:23] #64 closed

[2020-11-29 20:23] #142 closed

[2020-11-29 20:24] #130 closed

[2020-11-29 20:24] #76 closed

[2020-11-29 20:50] crazy-max commented on #142
@tthordarson @smozely To use the script notification see https://crazymax.dev/ftpgrab/config/notif/script/

[2020-11-29 20:52] crazy-max commented on #130
@peterhoeg To disable timestamp in logs since FTPGrab 7.2.0, see https://crazymax.dev/ftpgrab/usage/cli/#command-line

[2020-11-29 20:53] crazy-max commented on #76
@Thlb @daemqn To first download the files to a temporary location and then move them to the final destination, see https://crazymax.dev/ftpgrab/config/download/#tempfirst

[2021-02-20 04:08] joket1999 opened #162 "Cannot create grabber"
![image](https://user-images.githubusercontent.com/6611880/108583413-3d7dfe80-7374-11eb-870e-d436db8a000c.png)

![image](https://user-images.githubusercontent.com/6611880/108583382-17585e80-7374-11eb-9583-1578b6d93077.png)

[2021-02-20 09:29] crazy-max commented on #162
@joket1999 You FTP server `www.test.com` is offline? > `127.0.0.1:21` > `connection refused`

[2021-02-20 09:29] #162 closed

[2021-04-17 11:30] Chris122AT opened #172 "Error: FTL Cannot start [container] (Docker on Synology)"
Hello,

on a Synology NAS, the ftpgrab container stops after a successful run ("INF finished duration=[x ms]") with the following error:
`FTL Cannot start ftpgrab error="end of range (48) above maximum (23): 48`

I set the ENV SCHEDULE="0 0 0 * *". Therefore I thought the container would start without downloading before 00:00. But the container does its job at startup and exits with the error ment

[2021-04-17 15:32] crazy-max commented on #172
@Chris122AT `0 0 0 * *` Third value is day and `0` is not allowed. See https://pkg.go.dev/github.com/robfig/cron?utm_source=godoc#hdr-CRON_Expression_Format for more info.

[2021-04-17 15:32] #172 closed

[2021-04-17 17:37] Chris122AT commented on #172
Damn ... all right and thank you for your quick response!!

[2021-04-22 20:29] vgdh opened #173 "Tool can't work with server containing folders with cp1251 charset"
### Behaviour
Tool can't work with server containing folders with cp1251 charset

#### Steps to reproduce this issue

1. Run docker container with FTP server that contain folders in cp1251 charset
2. Get a lot errors like that:

#### Behaviour
[code]

### Configuration

* FTPGrab version  : docker crazymax/ftpgrab:7.3.0
* Platform (linux) :
* Remote FTP:

[2021-04-25 19:34] vgdh commented on #50
cp1251 is also not supported

[2021-04-27 13:23] vgdh commented on #9
A good idea!

[2021-05-18 17:46] crep7424 opened #189 "can't work on folder with "([." carracter"
### Behaviour
When ftp server has directory name contains "([.", read directory fail.
it seem that ftpgrab add \\ to the directory path.

for a directory nammed "lol.dir" ftpgrab want to retrive "lol\\.dir"

#### Steps to reproduce this issue

1. create a folder with one of following carracter : .[(
2. put a file in the new folder

#### Expected behaviour

#### Actual behaviour

### Configuration

[2021-06-08 14:49] xLogiiCx opened #192 "Docker Container Stops after Finishing"
Every time the Remote and the local side are finished my docker container stops.

[code]

[2021-06-24 01:42] bornryan commented on #192
I concur, we are having the same issue.

[2021-07-14 22:18] crazy-max commented on #192
Would need a proper [bug report](https://github.com/crazy-max/ftpgrab/issues/new?assignees=&labels=&template=bug_report.md) to help you out.

[2021-07-29 11:13] DrAg0n141 commented on #53
Hi, i have exactly the same Problem. All Folders with "." in Name are ignored. And not appered in LOG i can only see the Folder with "FTPGRAB_SERVER_FTP_LOGTRACE=true". I think the Problem is that is escapes the "." with \ and then the Folder is not reachable.

[2021-07-29 11:29] drag0n141 opened #201 "Folder with "." are Ignored"
### Contributing guidelines

- [X] I've read the [contributing guidelines](https://github.com/crazy-max/ftpgrab/blob/master/.github/CONTRIBUTING.md) and wholeheartedly agree

### I've found a bug and checked that ...

- [X] ... the documentation does not mention anything about my problem
- [ ] ... there are no open or closed issues that are related to my problem

### Description

Hi, all Folders w

[2021-07-29 14:05] DrAg0n141 commented on #201
I have test it when i remove "regexp" from "internal/server/ftp/client.go" it works without any Problem and downloads all.

[2021-10-03 20:34] #192 closed

[2022-01-24 13:03] Joeharrison94 opened #224 "Need help with working out if FTPGrab can do this."
So I can connect to the SFTP site, however I need to add a bunch of folders as sources and have each folder compare to a local folder with a different structure e.g. Ignore identical files and pull missing ones, but put them in a different location on the local side.

Local Site Folder                                                                                                         Remote Si

[2022-02-11 19:29] delCatta opened #226 "Threads & Paralel Mirroing"
Hi!
I've a project that is taking around 25 minutes to mirror, which is bottlenecking other services.

I'm running it on a Docker Container. Is there a way to add threads? Or will it be better to make multiple containers to handle different folders?

thanks!

[2022-02-11 19:33] crazy-max commented on #226
@delCatta https://github.com/crazy-max/ftpgrab/issues/48#issuecomment-477696847

[2022-02-11 19:33] #226 closed

[2022-02-11 19:34] crazy-max commented on #226
With FTP protocol we would need some kind of shim to handle that.

[2022-03-20 15:21] chaizp opened #232 "Cannot connect to server: dial tcp 127.0.0.1:21: connect: connection refused"
https://crazymax.dev/ftpgrab/install/docker/

[code]

[code]

[2022-06-30 22:40] Thlb opened #252 "Discord notifications"
Hello,

Serait-il possible (et pas trop compliqué) d'implémenter l'envoi de notifications vers Discord, comme tu as pu le faire sur Diun ?

Merci d'avance pour ton retour !

[2022-07-17 21:24] crazy-max commented on #232
You try to connect to an ftp server within the container (`127.0.0.1`). Change `FTPGRAB_SERVER_FTP_HOST` to a valid ip address.

[2022-07-17 21:24] #232 closed

[2022-09-08 08:53] amanullahtanweer opened #260 "Cannot connect to server"
### Contributing guidelines

- [X] I've read the [contributing guidelines](https://github.com/crazy-max/ftpgrab/blob/master/.github/CONTRIBUTING.md) and wholeheartedly agree

### I've found a bug and checked that ...

- [X] ... the documentation does not mention anything about my problem
- [X] ... there are no open or closed issues that are related to my problem

### Description

I am trying to co

[2022-10-11 14:35] dwin commented on #260
Are you able to connect using other tools? What happens then?

Have you tried with `insecure_skip_verify=True`?

[2022-10-28 15:09] amanullahtanweer commented on #260
Yes already tried with insecure_skip_verify=True but still getting same error. I switched to lftp as i can't find any solution to make it work.

[2022-11-15 20:31] anonmily opened #267 "File permissions not created properly?"
### Contributing guidelines

- [X] I've read the [contributing guidelines](https://github.com/crazy-max/ftpgrab/blob/master/.github/CONTRIBUTING.md) and wholeheartedly agree

### I've found a bug and checked that ...

- [X] ... the documentation does not mention anything about my problem
- [X] ... there are no open or closed issues that are related to my problem

### Description

For some reason,